apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: devfile-sample-i4yg
spec:
  replicas: 1
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/pmacik-testing/tkrw-pr712-0075-0020-tenant/tkrw-pr712-0075-0020-app/devfile-sample-i4yg@sha256:ab6cb74d0ab10ed18fa6a3c680f782d9357a30b9f6a7b3b2cb4d070b16e241c9
        name: my-nodejs
        resources: {}
status: {}
